@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2 {
font-family: Lato;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AddressHoursCard {

  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 30px;
  background: #F8F5F3;
}

.address_card_large_font {
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 12px;
}

.address_card_medium_font {
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
}

.address_card_small_font {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.address_link {
  color: #0d8fda;
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
}