@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;

}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  font-family: Lato;
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
}

li {
  list-style-type: disc;
}

.btn-link {
  padding: 12px 24px 12px 24px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #ECF4F9;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #0D8FDA;
  margin-bottom: 1%;
}

.promo-banner {
  padding: 12px 24px 12px 24px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #F8F5F3;
  text-align: center;
}

.btn-link:hover {
  text-decoration: underline;
}


.main-div {
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AddressHoursCard {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-radius: 30px;
  background: #F8F5F3;
}

.ValueCard {
  flex-direction: column;
  border-radius: 30px;
  background: #F8F5F3;
  padding: 4%;
  justify-content: center;
  align-items: center;
}

.InfoCard {
  font-size: 2rem;
  border-radius: 30px;
  background: #F8F5F3;
  padding: 2%;
  margin-bottom: 1%;
}

.card_large_font {
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 12px;
}

.card_medium_font {
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
}

.card_small_font {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.address_link {
  color: #0d8fda;
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
}

footer {
  background-color: #F8F5F3;
}

.active {
  text-decoration: underline;
}

.small_nav {
  background-color: #F8F5F3;
  border-width: 2px;
  border-radius: 30px;
  border-color: #282c34;
  margin: -1rem 0;
}

.small_nav_link {
  /* border-radius: 30px;
  border-width: 1px;
  border-color: #282c34; */
  padding: 1rem;

}